$primary: #389c7c;
$secondary: rgb(255,169,115);
$bg-light: rgb(238,238,238);
$bg-dark: rgb(53,53,46);

$success: #42b983;
$danger: #b94242;

.hover {
  &:hover {
    cursor: pointer;
    transition: transform 100ms ease-in;
    transform: scale(1.02);
  }
}

// BREAKPOINTS
@mixin mobile {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin medium {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin large {
  @media (min-width: 1200px) {
    @content;
  }
}