@import "../../../../assets/scss/variables";

#navbar {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: $bg-light;
  padding: 0 10px;

  h2 {
    display: flex;
    font-weight: 400;
    align-self: center;
    color: $primary;
  }

  .fa-icon {
    color: $secondary;
    margin-left: 5px;
    transition: transform 100ms ease-in;

    &--open {
      transform: rotate(180deg);
      transition: transform 100ms ease-in;
    }
  }

  .profile-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    min-width: 20rem;
    position: relative;
    cursor: pointer;

    p {
      display: flex;
      align-self: center;
      color: $primary;
    }

    &__image {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      display: flex;
      overflow: auto;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    #profile-options {
      position: absolute;
      top: 50px;
      border-radius: 5px;
      padding: 0 5px;
      right: 5px;
      border: 1px solid #d9d9d9;
      background-color: white;
      z-index: 9999;

      p {
        margin: 10px 5px;
        color: black;
      }
    }

    form {
      .input-field {
        input,
        select {
          height: 40px;
          width: 100%;
          box-sizing: border-box;
        }
      }
    }

    .btn-success {
      background-color: $success;
      border: none;
      padding: 5px;
      width: 70px;
      color: white;
      border-radius: 10px;
      cursor: pointer;
      font-weight: 600;
    }
  }
}
